.HistoryItem {
    display: flex;
    justify-content: space-between;

    align-items: center;
    
    background: #fff;
    border-radius: var(--border-radius-m);

    width: 570px;
    padding: 25px 35px;

    margin-bottom: 22px;
}

.HistoryItem__result {
    font-size: 22px;
    color: var(--accent-color);

    margin: 0;

    text-decoration: none;
}

.HistoryItem__result:hover {
    color: #88D4FF;
}

.HistoryItem__result:active {
    color: #53BAF5;
}

.HistoryItem__lastLink {
    font-size: 16px;
    color: var(--text-color);
    margin: 0;
    margin-top: 10px;

    width: 415px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.HistoryItem__lastLink a {
    margin-left: 5px;

    color: var(--text-color);
    opacity: .8;
}

.HistoryItem__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 130px;
}

.HistoryItem__actions button {
    width: 54px;
    height: 54px;

    background: var(--accent-color);

    border-radius: 50%;
}
.HistoryItem__actions button:hover {
    background: #88D4FF;
}

.HistoryItem__actions button:active {
    background: #53BAF5;
}

.HistoryItem__actions button svg {
    width: 30px;
    height: 30px;
}

.HistoryItem__actions button span {
    display: none;
}

@media only screen and (max-width: 945px) {
    .HistoryItem {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        width: 236px;
        padding: 20px 28px;
    
        margin-bottom: 13px;
    }
    
    .HistoryItem__result {
        font-size: 22px;
    }
    
    .HistoryItem__lastLink {
        font-size: 12px;
        margin: 0;
        margin-top: 10px;

        width: 236px;
    }
    
    
    .HistoryItem__actions {
        margin-top: 14px;

        width: 236px;
    }
    
    .HistoryItem__actions button {
        width: min-content;
        height: min-content;
        padding: 12px 23px;
    
        background: var(--accent-color);
    
        border-radius: var(--border-radius-s);

        font-size: 12px;
    }

    .HistoryItem__actions button svg {
        display: none;
    }

    .HistoryItem__actions button span {
        display: block;

        min-width: 52px;
        color: #fff;
    }
}


@media only screen and (max-width: 345px) {
    .HistoryItem {

        width: 222px;
        padding: 20px 20px;
    
        margin-bottom: 10px;
    }
    
    .HistoryItem__result {
        font-size: 20px;
    }
    
    .HistoryItem__lastLink {
        width: 222px;
    }
    
    
    .HistoryItem__actions {
        width: 222px;
    }
    
    .HistoryItem__actions button {
        padding: 12px 20px;
    }

 

}