.link {
    display: block;
    text-decoration: none;
    font-size: 21px;

    color: var(--github-color);
    fill: var(--github-color);
    width: 108px;

}
.link span {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 108px;
}
.link span svg {
    width: 26px;
    height: 26px;
}

@media only screen and (max-width: 945px) {
    .link {
        font-size: 20px;
        width: 99px;
    }
    .link span {
        width: 99px;
    }

}

@media only screen and (max-width: 345px) {
    .link {
        font-size: 16px;
    
        width: 80px
    }
    .link span {
        width: 80px;
    }
    .link span svg {
        width: 19px;
        height: 19px;
    }
}