.QrCode {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 170px;
    height: 205px;

    background: var(--accent-color);
    border-radius: var(--border-radius-m);

    cursor: pointer;
}

.QrCode__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 170px;
    
    background: #fff;
    border-radius: var(--border-radius-m);
}

.QrCode__svg {
    max-width: 130px;
    max-height: 130px;
}

.QrCode__title {
    font-size: 14px;

    color: #fff;

    margin-top: 12px;
}


.QrCodeButtonMobile {
    display: none;
}

@media only screen and (max-width: 945px) {
    .QrCodeButtonMobile {
        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;

        width: 175px;
        height: 40px;

        background: linear-gradient(180deg, #B7E4FF 0%, #60C5FF 58.33%);
        border-radius: 0px 0px 20px 20px;

        cursor: pointer;
    }

    .QrCode {
        width: 190px;
        border-radius: 0px 0px 40px 40px;
    }

    .QrCode__wrapper {
        border-radius: 0px 0px 30px 30px;
    }
}

