.ToHistory {
    width: 401px;
    height: 58px;

    margin-top: 13px;

    background: var(--optional-color);
    color: var(--primary-color);
    
    font-size: 20px;

}

.ToHistory:hover {
    background: #D6E7F1;
}

.ToHistory:active {
    background: #C7DEEB;
}

.ToHistory svg {
    width: 34px;
    height: 34px;
    margin-right: 30px;
}

.ToHistory__counter {
    width: 34px;
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 25px;

    border-radius: 50%;
    background: var(--accent-color);
    color: #fff;

    font-size: 16px;
}
@media only screen and (max-width: 945px) {
    .ToHistory {
        width: 325px;
        height: 64px;

        margin-top: 11px;

        font-size: 14px;

        padding: 14px 0;
    }

    .ToHistory svg {
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
    .ToHistory__counter {
        width: 27px;
        height: 27px;

        font-size: 10px;
    }
}

@media only screen and (max-width: 345px) {
    .ToHistory {
        width: 285px;
        height: 60px;

        margin-top: 10px;

        font-size: 12px;

        padding: 0 0;
    }

    .ToHistory svg {
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
    .ToHistory__counter {
        width: 21px;
        height: 21px;

        font-size: 10px;
    }
}