.MInput {
    display: flex;
    align-items: center;

    border-radius: var(--border-radius-m);
    padding: 16px 14px;
    
    background: #fff;
    width: fit-content;

    cursor: text;
}

.MInput svg {
    width: 46px;
    height: 46px;
}

.MInput input {
    width: 493px;
    height: 46px;

    margin-left: 14px;

    border: none;
    
    color: var(--primary-color);
    font-size: 20px;
}

.MInput input:focus {
    outline: none;
}


@media only screen and (max-width: 945px) {
    .MInput {
        height: 64px;

        padding: 0 14px;

        margin-bottom: 12px;
    }
    .MInput input {
        width: 217px;
        height: 17px;

        font-size: 16px;
    }
    
    .MInput svg {
        width: 32px;
        height: 32px;
    }

}