.History__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 780px;
    height: 58vh;

    background: var(--optional-color);

    border-radius: var(--border-radius-l);
}

.History__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 640px;

    font-size: 20px;
    color: var(--primary-color);

    margin-top: 45px;
}
.History__title div {
    display: flex;
    align-items: center;
}
.History__title div svg {
    width: 34px;
    height: 34px;
    
    margin-right: 17px;
}

.History__List { 
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 660px;
    height: fit-content;

    border-radius: var(--border-radius-m);

    margin-top: 30px;

    overflow-y: scroll;
    overflow-x: hidden;
}


.TrashButton {
    width: 44px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--optional-color);
}
.TrashButton svg {
    width: 34px;
    height: 34px;

    border-radius: var(--border-radius-xs);
}
.History__btn_footer {
    display: none;
}



@media only screen and (max-width: 945px) {
    .History__wrapper {
        width: 332px;
        height: 74vh;   

        margin-top: 12vh;
    }
    .History__title {
        width: 285px;
        font-size: 14px;
        
        margin-top: 14px;
    }
    .History__title div svg {
        width: 29px;
        height: 29px;
    }

    .History__List { 
        margin-top: 15px;
        height: 63vh;

        width: 299px;
    }


    .TrashButton {
        width: 36px;
        height: 36px;

        border-radius: 50%;
        background: var(--hover-color);
    }
    .TrashButton svg {
        width: 27px;
        height: 27px;
    }
    .History__btn_panel {
        display: none;
    }
    .History__btn_footer {
        display: block;
    }
}

@media only screen and (max-height: 700px) {
    .History__wrapper {
        height: 70vh;  
    }

    .History__List { 
        height: 57vh;

    }
}


@media only screen and (max-width: 345px) {
    .History__wrapper {
        width: 285px;
    }

    .History__title {
        width: 250px;

        margin-top: 20px;
    }
    .History__title div svg {
        width: 29px;
        height: 29px;
    }

    .History__List { 
        width: 275px;
    }


    .TrashButton {
        width: 32px;
        height: 32px;
    }
    .TrashButton svg {
        width: 100%;
    }
}